.bg-medium-teal {
    background-color: #0F83A0;
}
.bg-light-teal {
    background-color: #62B6CB;
}
.bg-medium-blue {
    background-color: #70C4E8;
}
.bg-dark-teal {
    background-color: #1B4965;
}
.bg-light-grey {
    background-color: #EEF0F2;
}
.bg-light-blue {
    background-color: #E2F2FC;
}
.bg-dark-grey {
    background-color: #515151;
}
.heading1 {
    /* font-family: 'Nunito'; */
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
}
.heading2 {
    /* font-family: 'Nunito'; */
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}
.heading3 {
    /* font-family: 'Nunito'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.body-heading {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
}
.body-text {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.body-important {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.body-caption {
    /* font-family: 'Nunito'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.color-dark-grey {
    color: #515151;
}
.color-green {
    color: #1CC02C;
}
.color-yellow {
    color: #FFC700;
}
.color-orange {
    color: #FFA800;
}
.color-red {
    color: #DA4848;
}
.border-radius-large {
    border-radius: 50px;
}
.border-radius-small {
    border-radius: 20px;
}
.btn-base {
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 15px 25px;
}
.btn-dark {
    color: white;
    background-color: #1B4965;
}
.btn-light {
    color: white;
    background-color: #70C4E8;
}
.btn-dark:hover {
    background-color: #29729f;
    color: white;
}
.btn-light:hover {
    background-color: #2cb1eb;
    color: white;
}
.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}