@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    /* font-weight: 400; */
    /* src: local('Nunito'), local('Nunito-Regular'), url('./fonts/nunito/Nunito-Regular.ttf') format('ttf'); */
*/

/* BACKGROUND COLORS */
.bg-medium-teal {
    background-color: #0F83A0;
}
.bg-light-teal {
    background-color: #62B6CB;
}
.bg-medium-blue {
    background-color: #70C4E8;
}
.bg-dark-teal {
    background-color: #1B4965;
}
.bg-light-grey {
    background-color: #EEF0F2;
}
.bg-light-blue {
    background-color: #E5F0F6;
}
.bg-dark-grey {
    background-color: #515151;
}
.bg-white{
    background-color: white;
}
.bg-off-white{
    background-color: #F4FBFF;
}
.bg-sky-blue{
    background-color: #7CC9E9;
}
.bg-yellow {
    background-color: #FFC700;
}
.bg-orange {
    background-color: #FFA800;
}
.bg-dark-orange {
    background-color: #ED6400;
}
.bg-green {
    background-color: #1CC02C;
}
.bg-red {
    background-color: #DA4848;
}

/* COLORS */
.color-dark-grey {
    color: #515151;
}
.color-green {
    color: #1CC02C;
}
.color-yellow {
    color: #FFC700;
}
.color-orange {
    color: #FFA800;
}
.color-dark-orange {
    color: #ED6400;
}
.color-red {
    color: #DA4848;
}
.color-white {
    color: white;
}
.color-medium-teal {
    color: #0F83A0;
}
.color-light-teal {
    color: #62B6CB;
}
.color-medium-blue {
    color: #70C4E8;
}
.color-dark-teal {
    color: #1B4965;
}
.color-light-grey {
    color: #EEF0F2;
}
.color-light-blue {
    color: #E5F0F6;
}
.color-sky-blue{
    color: #7CC9E9;
}
.color-pink{
    color: #FF8AA6;
}

/* FONT STYLES */
.heading1 {
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
}
.heading2 {
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}
.heading3 {
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.body-heading {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
}
.body-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.body-important {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.body-caption {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

/* BORDER RADIUSES */
.border-radius-large {
    border-radius: 50px;
}
.border-radius-med {
    overflow: hidden;
    border-radius: 30px;
}
.border-radius-small {
    border-radius: 10px;
}

/* BUTTONS */
/* Include btn-base class for all buttons */
.btn-base {
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 15px 25px;
}
.btn-dark {
    color: white;
    background-color: #1B4965;
}
.btn-light {
    color: white;
    background-color: #70C4E8;
}
.btn-dark:hover {
    background-color: #1c608a;
    color: white;
}
.btn-light:hover {
    background-color: #2cb1eb;
    color: white;
}

/* NAV BAR */
.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

/* BOX SHADOW */
.shadow {
    box-shadow: '5px 5px 3px #ccc';
}