.plane-background{

}

.bg-plane-overlay {
    background-color: #1B4965;
    opacity: 0.8;
}

.bg-plane{
    background-image: url(./../static/plane.svg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    padding: 0;
}

.balloon-background{
    width: 30vw;
    padding: 0;
}

.world-map{
    width: 70vw;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    height: 80vh;
    overflow-y: scroll;
}

.filter-destination{
    /* height: 50vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 196, 232, 0.8); */
}

.popular-travel{
    width: 65vw;
    height: 78vh;
    margin-right: 1vw;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.latest-updates{
    overflow-y: scroll;
    width: 90vw;
    height: 70vh;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.saved-locations{
    overflow-y: scroll;
    width: 85vw;
    height: 40vh;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.update-saved-locations{
    overflow-y: scroll;
    width: 50vw;
    height: 50vh;
    margin-top: 2vh;
    margin-bottom: 10vh;
    padding: 0 0 0 0;
}

.info-row-2,
.info-row{
    text-align: center;
    align-items: center;
    margin: 0.5vw;
    background: #ffffff;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    box-shadow: 3px 3px 3px 3px #cccccc;
}

.header-info-row, .header-info-row-2, .header-info-row-3{
    text-align: center;
    align-items: center;
    margin: 0.5vw;
    background-color: #70C4E8;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    color: white;
    font-size: large;
}

.map-section{
    justify-content: center;
    margin: 15vh 10vw 0 10vw;
}

.map-legend{
    justify-content: center;
    margin: 0vh 20vw 0 20vw;
}

.book-button{
    color: white !important;
    background-color: #70C4E8 !important;
    border-color: #70c4e8 !important;
    border-radius: 25px;
    padding: 10px 30px !important;
}

.heart-image{
    width: 3vw;
}

.bell-image{
    width: 2vw;
}

.recommend-dest-button{
    border-radius: 25px;
    padding: 15px 15px;
}

.dest-search-button{
    border-radius: 25px;
    padding: 15px 30px;
}