.location-carousel{
    background-color: #0F83A0;
    align-items: center;
}
.locationBar-title{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.sub-title{
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 3%;
}

.news-carousel {
    background-color: white;
    align-items: center;
}

.news-container {
    display: flex;
    flex-direction: row;
}

.news-container-col {
    display: flex;
    flex-direction: column;  
}

.news-card {
    max-width: 500px;
}

.searchfield-container {
    border-radius: 25px;
    background: #F9F9F9;
    width: max-content;
    padding: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-icon {
    padding-right: 5px;
    padding-top: 5px;
}

.search-bar-text {
    color: white;
    font-size: 1.2em;
    padding: 3px;
    padding-left: 2%;
}
.h3-title{
    font-size: 25px;
    color:#1B4965;
    font-weight: bold;
}
.bg-darkteal {
    background-color: #0F83A0;
}
.locationBar-button {
    background-color: #1B4965;
    border-radius: 20px;
}

.bg-lightpurple {
    background-color: #726FE7;
}
.bg-mblue{
    background-color: #70C4E8;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: #EEEEEE;
}
.bg-blue {
    background-color: #A9CBFF;
}
.bg-lightblue {
    background-color: #EBF3FF;
}
.text-grey {
    color: #515151;
}
.text-white {
    color: white;
}

.search-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-text {
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: end;
    padding-top: 15px;
}
.flex-center { 
    align-items: center; 
    justify-content: center; 
    display: flex;
} 

#header {
    background-image: url('../static/header.png');
    height: 400px;
    align-items: center; 
    justify-content: center; 
    display: flex;
}

.covidtabs {
    display: flex;
    flex-direction: column;  
    padding: 20px;
}

.covidtabs > img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.btn-primary {
    color: #fff !important;
    background-color: #1B4965 !important;
    border-color: #1B4965 !important; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary .btn-primary:active:focus {
    color: #fff !important;
    background-color: #226b81 !important;
    border-color: #1B4965 !important; /*set the color you want here*/
}
