.location-carousel{
    background-color: #A9CBFF;
    align-items: center;
}
.sub-title{
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding-left: 2%;
}
.h3-title{
    font-size: 22px;
    color: #3F3CB0;
    font-weight: bold;
}
.bg-darkpurple {
    background-color: #3F3CB0;
}
.bg-lightpurple {
    background-color: #726FE7;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: #EEEEEE;
}
.text-grey {
    color: #515151;
}